DTD_test/not_valid_6.dtd

<?xml encoding="UTF-8"?>
<!ELEMENT college (student)+>
<!ELEMENT student (firstname,lastnames,contact,email,address)>
<!ELEMENT firstname (#PCDATA)>
<!ELEMENT lastnames (#PCDATA)>
<!ELEMENT contact (#PCDATA)>
<!ELEMENT email (#PCDATA)>
<!ELEMENT address (city,state,pin)>
<!ELEMENT city (#PCDATA)>
<!ELEMENT state (#PCDATA)>
<!ELEMENT pin (#PCDATA)>
