DTD_test/valid_6.dtd

<?xml encoding="UTF-8"?>
<!ELEMENT college (student)+>
<!ELEMENT student (firstname,lastname,contact,email,address)>
<!ELEMENT firstname (#PCDATA)>
<!ELEMENT lastname (#PCDATA)>
<!ELEMENT contact (#PCDATA)>
<!ELEMENT email (#PCDATA)>
<!ELEMENT address (city,state,pin)>
<!ELEMENT city (#PCDATA)>
<!ELEMENT state (#PCDATA)>
<!ELEMENT pin (#PCDATA)>

